<!DOCTYPE html>
<html
    class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
    lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>品牌故事</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="__STATIC__/images/favicon.png">

    <style>
        .top_height {
            height: 405px;
            background: #e8e8e8;
            margin-bottom: 2rem;
        }

        .text_small {
            font-size: 0.8rem;
        }

        .my_img1 {
            margin-left: 27px;
            margin-top: 20px;
            width: 85%;
            transition: transform 1s;
        }

        .my_img1:hover {
            transform: scale(1.1);
        }

        ._text {
            margin-left: 27px;
            margin-top: 20px;
            width: 85%;
            text-indent: 20px;
        }

        .tt {
            margin-bottom: 35px;
            color: #F07c29;
        }
    </style>
</head>

<body>
    {include file="public/static/product/header/header.html"}

    <div class="breadcrumbs-area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="{:url('/show_index')}">主页</a></li>
                            <li><a href="javascript:void(0);" class="active">品牌故事</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs-area-end -->
    <!-- entry-header-area-start -->
    <div class="container">
        <div class="row no-gutters">
            <h1 class="tt">品牌故事</h1>
            <div class="col-lg-4 col-sm-12">
                <div class="mr-lg-1 top_height">
                    <img class="my_img1" src="__STATIC__/images/1.jpg" alt="">
                    <div class="_text">
                        <p>精工(SEIKO)由日本表匠服部金太郎于1892年创立，并在1968荣获日内瓦天文台竞赛之“最佳机械腕表”。精工于1969推出世界第一只石英腕表Astron,并在1895年成功推出日本制造的TIME
                            KEEPER怀表，其在腕表界的地位得以奠定，创始人金太郎也被日本新闻界尊称为“日本时计之王”。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div class="mr-lg-1 top_height">
                    <img class="my_img1" src="__STATIC__/images/2.jpg" alt="">
                    <div class="_text">
                        <p>佳明(Garmin)成立于1989年，注册地为瑞士沙夫豪森。近30年前，Garmin 以尖端的航空
                            GPS导航产品进入市场，目前已是航空、航海、车用、运动健身产品等市场的领先者。腕表品类包括智能腕表、户外腕表、航空腕表、和MARQ时尚腕表等系列。结合惊艳设计、卓越质量与优异可靠度，创造绝佳的产品体验，搭配完整的产品生态圈，Garmin矢志成为每位热爱生活的使用者喜爱的品牌。
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div class="top_height">
                    <img class="my_img1" src="__STATIC__/images/3.jpg" alt="">
                    <div class="_text">
                        <p>卡西欧(CASIO)品牌源于日本，创立于1957年。卡西欧腕表将高、精、尖的先进科技结合新型液晶技术恰当的运用于腕上时计，坚持不懈地开发无以伦比的“腕上科技产品”。卡西欧腕表推广集多功能和新时尚为一体的运动休闲手表品牌G-Shock和Baby-G,经过市场开拓期的品牌塑造活动，成为新潮、时尚、高科技、功能多元化的电子腕表的代名词。
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div class="mr-lg-1 top_height">
                    <img class="my_img1" src="__STATIC__/images/4.jpg" alt="">
                    <div class="_text">
                        <p>安普里奥·阿玛尼(Emporio Armani)是意大利著名奢侈品品牌Giorgio
                            Armani旗下的，针对年轻人设计的副线品牌。1981年成立于意大利米兰，经营产品有鞋履、香水、饰物等。Emporio Armani挟着主牌Giorgio
                            Armani的威势，一上市便大受欢迎，分店从欧洲迅速遍及美洲和亚洲。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div class="mr-lg-1 top_height">
                    <img class="my_img1" src="__STATIC__/images/5.jpg" alt="">
                    <div class="_text">
                        <p>浪琴(LONGINES)于1832年在瑞士索伊米亚创立，拥有逾180多年的悠久历史与精湛工艺，在运动计时领域亦拥有显赫传统与卓越经验。浪琴作为世界锦标赛的计时器及国际联合会的合作伙伴，以其优雅的钟表享誉全球，并以飞翼沙漏为标志的浪琴表以优雅著称于世。作为全球领先钟表制造商斯沃琪集团旗下的著名品牌，浪琴表已遍布世界150多个国家。
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div class="top_height">
                    <img class="my_img1" src="__STATIC__/images/6.jpg" alt="">
                    <div class="_text">
                        <p>天梭(TISSOT)由查理费里西安·天梭创立于1853年，1983年加入Swatch集团。天梭融合了160年的创意和传统的瑞士制表工艺，是瑞士制表业中的佼佼者。第一间天梭制表工作室位于瑞士小镇力洛克，2014年天梭表已成功畅销全球五大洲150个国家，并且成为代表瑞士产品的质量和精确度的品牌。
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div class="top_height">
                    <img class="my_img1" src="__STATIC__/images/7.jpg" alt="">
                    <div class="_text">
                        <p>天美时(TIMEX)是始创于1854年的美国钟表品牌，以其悠久的制表历史和时尚的外观闻名。天美时户外系列手表有着强大的功能性与实用性，是科技与设计的完美结合。TIMEX手表深受众多明星政要的喜爱，并对它爱不释手，最有名的当属美国历任总统，如奥巴马、乔治布什、克林顿、戈尔等。所以天美时又被称为“永远被总统选戴的TIMEX".
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div class="top_height">
                    <img class="my_img1" src="__STATIC__/images/loading.gif" alt="pic" >
                    <div class="_text" style="text-align: center;">
                        <p>品牌故事陆续更新中，敬请期待！</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    {include file="public/static/product/footer/footer.html"}

</body>

</html>