<!DOCTYPE html>
<html
    class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
    lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>网上手表商城-Watch League</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="__STATIC__/images/favicon.png">
    <script type="text/javascript" src="__STATIC__/js/jsAddress.js"></script>
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->

    <style>
        .tips {
            color: #ff3131e3;
            line-height: 30px;
            font-size: 15px;
            padding-left: 10px;
        }
    </style>
</head>

<body class="register">

    {include file="public/static/product/header/header.html"}
    <div class="breadcrumbs-area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="{:url('/show_index')}">主页</a></li>
                            <li><a href="javascript:void(0);" class="active">找回密码</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- breadcrumbs-area-end -->
    <!-- user-login-area-start -->
    <div class="user-login-area mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login-title text-center mb-30">
                        <h2>找回密码</h2>
                        <p>请输入以下信息以确定您的身份</p>
                    </div>
                </div>
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="billing-fields">


                        <div class="single-register">
                            <form>
                                <label>邮箱
                                    <span>*</span>
                                    <span class="tips" id="emailTips"></span>
                                </label>
                                <input type="text" name="email" id="email" autocomplete="off">
                            </form>
                        </div>

                        <div class="single-register">
                            <form>
                                <label>电话
                                    <span>*</span>
                                    <span class="tips" id="phoneTips"></span>
                                </label>
                                <input type="text" name="phone" id="phone" autocomplete="off">
                            </form>
                        </div>

                        <div class="single-register">
                            <form>
                                <label>所在地区
                                    <span>*</span>
                                </label>
                                <select class="form-control" id="cmbProvince" name="province"></select>
                                <select class="form-control" id="cmbCity" name="city"></select>
                                <select class="form-control" id="cmbArea" name="area"></select>
                            </form>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="single-register">
                                    <form>
                                        <label>新密码
                                            <span>*</span>
                                            <span class="tips" id="passwordTips"></span>
                                        </label>
                                        <input type="password" name="password" id="password" autocomplete="off">
                                    </form>
                                </div>
                            </div>                          
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="single-register">
                                    <form>
                                        <label>确认密码
                                            <span>*</span>
                                            <span class="tips" id="passwordReTips"></span>
                                        </label>
                                        <input type="password" name="password_confirm" id="password_confirm" autocomplete="off">
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="single-register"><a onclick="reset_password()">重置密码</a></div>
                </div>

            </div>

        </div>
    </div><!-- user-login-area-end -->
    <!-- footer-area-start -->
    {include file="public/static/product/footer/footer.html"}
    <div id="ext_overlay" class="ext_overlayBG" style="display: none; z-index: 2147483646;"></div>
</body>
<script type="text/javascript">

    $("input").keyup(function () {
        $(this).prev('label').find('#emailTips').html('');
    });
    $("#email").blur(function () {
        var email = $("#email").val();
        $.ajax({
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "{:url('/email_check')}",//url
            data: {
                email: email,
            },
            success: function (result) {
                if (result.msg === 0) {
                    $('#emailTips').removeClass('tipsGreen');
                    $('#emailTips').html("邮箱信息不存在")
                } else if (result.msg === 1) {
                    $('#emailTips').addClass('tipsGreen');
                    $('#emailTips').html("邮箱信息存在")

                } else {
                    $('#emailTips').html(result.msg);
                }
            },
            error: function () {
                alert("服务器繁忙,请稍后重试!");
            }
        });
    });

    function reset_password() {
        let password = $("#password").val();
        let password_confirm = $("#password_confirm").val();
        let email = $("#email").val();
        let phone = $("#phone").val();
        let province = $("#cmbProvince").val();
        let city = $("#cmbCity").val();
        let area = $("#cmbArea").val();

        $.ajax({
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "{:url('/user_reset_password')}",//url
            data: {
                password: password,
                password_confirm: password_confirm,
                email: email,
                phone: phone,
                province: province,
                city: city,
                area: area
            },
            success: function (result) {
                if (result.msg === 0) {
                    $('#emailTips').removeClass('tipsGreen');
                    $('#emailTips').html("邮箱信息不存在")
                } else if (result.msg === 1) {
                    alert("用户信息错误或不存在");
                } else if (result.msg === 2){
                    $('#passwordReTips').html("两次密码不一致");
                } else if (result.msg === 'success') {
                    alert("密码重置成功");
                    window.location.href = "{:url('/show_login')}"
                } else {
                    alert(result.msg);
                }

            },
            error: function () {
                alert("服务器繁忙,请稍后重试!");
            }
        });
    }

    $(document).ready(function () {
        addressInit('cmbProvince', 'cmbCity', 'cmbArea');
    });
</script>

</html>