<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>订单列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="__ADMIN__/css/font.css">
  <link rel="stylesheet" href="__ADMIN__/css/xadmin.css">
  <link rel="stylesheet" href="__ADMIN__/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <script type="text/javascript" src="__ADMIN__/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="__ADMIN__/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="__ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="__ADMIN__/js/xadmin.js"></script>
</head>

<body>
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="{:url('/show_index')}" style="text-decoration: none">返回主页</a>
      <a href="#" style="text-decoration: none">
        <cite>订单列表</cite>
      </a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right;text-decoration: none"
      href="javascript:location.replace(location.href);" title="刷新">
      <i class="layui-icon" style="line-height:30px">ဂ</i></a>
  </div>

  <div class="x-body">
    <table class="layui-table">
      <thead>
        <tr>

          <th>订单编号</th>
          <th>商品名称</th>
          <th>支付方式</th>
          <th>应付金额(元)</th>
          <th>优惠金额(元)</th>
          <th>实付金额(元)</th>
          <th>收货人</th>
          <th>收货地址</th>
          <th>联系电话</th>
          <th>发货状态</th>
          <th>快递单号</th>
          <th>下单时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>


        {foreach $user_orders as $values}
        <tr>
          <td>{$values.o_id}</td>
          <td>
            {foreach $values.bname as $key=>$value }
            {$value.bname} * {$value.user_buy_num}<br>
            {/foreach}
          </td>
          <td>{$values.payment}</td>
          <td>{$values.all_price}</td>
          <td>{$values.discounts}</td>
          <td>{$values.pay}</td>
          <td>{$values.user.consignee}</td>
          <td>{$values.user.province}{$values.user.city}{$values.user.area}{$values.user.addr}</td>
          <td>{$values.user.contact}</td>
          {if ($values.status==1)}
          <td>待发货</td>
          {elseif ($values.status==2) /}
          <td>已发货</td>
          {else /}<td>已收货</td>
          {/if}
          <td>{$values.expressNum}</td>
          <td>{$values.date}</td>
          {if ($values.status==1)}
          <td>-</td>
          {elseif ($values.status==2) /}
          <td><a class="layui-btn layui-btn-normal layui-btn-xs" onclick="receive_confirm(this, '{$values.o_id}')"
              href="javascript:;">确认收货</a></td>
          {else /}<td>-</td>
          {/if}
        </tr>
        {/foreach}
      </tbody>
    </table>
    <div class="page"></div>
  </div>

  <script>
    //console.log("{$user_orders}");

    //订单发货
    function receive_confirm(obj, id) {
      layer.confirm('确认收到货了吗？', function (index) {
        // 异步后台处理
        $.ajax({
          type: "POST",//方法类型
          dataType: "json",//预期服务器返回的数据类型
          url: "{:url('/receive_confirm')}",//url
          data: {
            oid: id,
          },
          success: function (result) {
            if (result.msg == 1) {
              layer.msg('已确认收货', { icon: 1, time: 1000 }, function () {
                window.location.href = ("{:url('/show_user_order')}");
              });
            } else {
              layer.msg(result.msg, { icon: 1, time: 1000 });
            }
          },
          error: function (result) {
            console.log(result)
            layer.msg("服务器繁忙,请稍后重试!", { icon: 0, time: 1000 })
          }
        });
      });
    }
  </script>
</body>

</html>